<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="form">
    	<button class="bl">登录</button>
		  <button class="br">注册</button>
    </div>
  </body>
  <script type="text/javascript">
      $(function(){
          $('.bl').click(function(){
            location.href = 'login';
        });
          $('.br').click(function(){
            location.href = 'register';
        });

      })


  </script>
</html>
